*{
    box-sizing: border-box;
}
p{
    color:rgb(0, 0, 0);
    text-align: left;
    
}
h1{
    color:rgb(0, 0, 0);
    text-align: center;
}
h2{
    color:rgb(0, 0, 0);
    text-align: center;
}
body{
    background-image: url('R.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.main{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-around;
}
.contact{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1.5%;
    width: 25%;
    height: 80vh;
    border: rgb(211, 219, 219) solid;
}
.second{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 40%;
    padding: 1.5%;
    min-height: 80vh;
    height: fit-content;
    border: rgb(211, 219, 219) solid;
 }
.third{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 25%;
    min-height: 80vh;
    height: fit-content;
    padding: 1.5%;
    border: rgb(211, 219, 219) solid;
}
.list li{
    margin: 1rem;
    list-style: none;
}
@media screen and (max-width:1024px){
    .main{
        display:flex;
        flex-direction: column;
    }
    .contact{
        width: 80%;
        margin: 20px;
    }
    .second{
        width: 80%;
        margin: 20px;
    }
    .third{
        width: 80%;
        margin: 20px;
    }